@import "reset";
@import "variables/global";

body {
  box-sizing: border-box;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  color: var(--text-main-color);
  font: var(--font-m);
  font-weight: 400;
  font-style: normal;
  place-items: center;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}
