@import "./components/button";
@import "./components/link";

$font-family-main: "Roboto", sans-serif;
$font-family-secondary: "Oswald", sans-serif;
$font-size-m: 18px;
$font-line-m: 24px;
$font-m: $font-size-m / $font-line-m $font-family-main;
$font-size-l: 24px;
$font-line-l: 32px;
$font-l: $font-size-l / $font-line-l $font-family-main;
$font-secondary-m: $font-size-m / $font-line-m $font-family-secondary;
$font-secondary-l: $font-size-l / $font-line-l $font-family-secondary;
$text-main-color: #000000;

/* --- TODO: add variables from figma ---- */
