@import "./components/button";
@import "./components/link";

$font-family-main: "Roboto", sans-serif;
$font-family-secondary: "Oswald", sans-serif;
$font-size-m: 18px;
$text-main-color: #000000;

/* --- TODO: add variables from figma ---- */
