.menu {
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
  font: $font-secondary-m;

  &_item {
    text-transform: capitalize;
    list-style: none;
  }

  @include smartphone {
    display: none;
  }

  @include tablet-portrait {
    display: none;
  }
}
