$filled-button-bg-color: #675cff;
$filled-button-bg-hover-color: #9262f9;
$filled-button-bg-pressed-color: #675cff;
$filled-button-bg-loading-color: #65619d;
$filled-button-bg-disabled-color: #c3bff2;
$filled-button-text-color: #ffffff;
$ghost-button-text-color: #4953ec;
$outline-button-ui-color: #3700b3;
